
.editArea {
    border-radius: 15px;
    border: 5px solid royalblue;
    color: #0072BC;
    min-height: 350px !important;
    max-height: 500px !important;
}

#imageViewBlank {
    margin-top: 15%;
}

#imageView {
    display: none;
}

.editArea img {
    height: 500px;
}


.logoImage {
    width: 100%;
    height: 75px;
}


.main-nav {
    background-color: white !important;
    color: #0072BC !important;
}

.actionButtons {
    margin-top: 5%;
}

.header-area .main-nav .nav li a {
    color: #0072BC !important;
}

.header-area .main-nav .nav li a:hover {
    color: royalblue !important;
}

.header-area.header-sticky .nav li a.active {
    color: black !important;
}

.actionButtons ul li {
    background-color: #0072BC;
    color: white;
    margin: 10% 0;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
}


.selectOptions {
    margin-top: 5%;
}

.selectOptions img {
    height: 150px;
    width: 150px;
    border: 2px solid #0072BC;
    margin: 5%;
    border-radius: 10px;
}

.owl-dots {
    display: none !important;
}

::selection {
    background-color: #0072BC !important;
    color: white !important;
}


@media screen and (max-width: 650px) {


    .editArea img {
        height: 250px;
    }

    #imageView {
        margin-top: 10%;
    }

    .actionButtons{
        margin-left: 10% ;
    }

    .selectOptions{
        margin-left: 20%;
    }

    ul li {
        display: inline;
        margin: 5% !important;
        padding: 5%;
    }

    i {
        padding: 5%
    }

    .nacc img{
        height: 150px;
    }

    .our-courses{
        min-height: 1000px !important;
    }


}